In [1]:
import sqlite3
import datetime

In [2]:
con = sqlite3.connect('assg4.db')
cur = con.cursor()

In [3]:
for row in cur.execute('SELECT * FROM tweet LIMIT 10'):
        print(row)

(669799580913958912, 'RT @AwkwardComedy: When you come out of the exam and your friend starts telling you the answers they put https://t.co/3i3CHNJhxk', 'Thu Nov 26 08:47:19 +0000 2015', 'en', 997133054)
(669799581182525441, "RT @guardian: Student loans: Osborne's 'disgraceful' overhaul 'betrays a generation' https://t.co/8XQWdDGhVA", 'Thu Nov 26 08:47:19 +0000 2015', 'en', 3052620675)
(669799581035552768, "RT @bashrimuhaiedin: to remove stain with blood and account's student be like ; put clorox put downy #spm2015", 'Thu Nov 26 08:47:19 +0000 2015', 'en', 2536066893)
(669799582331568128, 'https://t.co/BC8VxA0lmi https://t.co/bAarUKCqAj https://t.co/0qXbmq0yTG h...', 'Thu Nov 26 08:47:19 +0000 2015', 'und', 2929096437)
(669799581119475712, "Watching crimson peak at Ben and Jerry's  open air cinemas at sydney university...weather could be better but https://t.co/BB3ImkqSoO", 'Thu Nov 26 08:47:19 +0000 2015', 'en', 1425436165)
(669799582600032256, 'https://t.co/BHtzZbSLXA https://t.co/bAwNFdlxBa https://t.co/M9eF7BeudX...', 'Thu Nov 26 08:47:19 +0000 2015', 'und', 3296904436)
(669799583644590080, 'I remember the days when you used to get a floppy disk attached to your computer magazine. Now you get a computer! https://t.co/4sI1a3wroh', 'Thu Nov 26 08:47:19 +0000 2015', 'en', 377663481)
(669799583245930496, 'https://t.co/BbN5QCho1B https://t.co/u6vxHWduHG https://t.co/plxmMtNzV5 http://dig...', 'Thu Nov 26 08:47:19 +0000 2015', 'und', 3296904436)
(669799584521019394, 'https://t.co/xcdz6WeqE0 https://t.co/yLgDf9Oc14 https://t.co/BbwWlbeW2h http://yardgr...', 'Thu Nov 26 08:47:19 +0000 2015', 'und', 2929096437)
(669799584760070144, 'Science time be like ðŸ˜‚ðŸ˜œðŸ‘ŠðŸ‘Œ Okay open-minded daw', 'Thu Nov 26 08:47:19 +0000 2015', 'en', 3188237083)

In [4]:
tweets = []
for row in cur.execute('SELECT text, created_at FROM tweet'):
        tweets.append(row)

In [5]:
import string
punctuation = list(string.punctuation)
stop = punctuation+[ 'a','an','the','rt', 'via','to','of','for','and','or','i','in','at','on','out','with','by','de',' ','is','am','are','my','your','our','us','me','you','it','','the','no','have','has','we','her','his','them','when','who','where','which','how','that','not','this','&amp;','from','new','la','but']

In [6]:
freq = {}
for item in tweets: 
    text = item[0].lower().split(" ")
    for eleman in text:
        if eleman in stop:
            pass
        else:
            if eleman in freq.keys():
                freq[eleman] += 1
            else:
                freq[eleman] = 1

In [7]:
freq = {k: v for k, v in sorted(freq.items(), key=lambda item: item[1],reverse=True)}
final = list(freq.items())[:20]
for i in final:
    print(i)
top_5 = list(freq.keys())[:5]
top_10 = list(freq.keys())[:10]

('computer', 1592)
('student', 1113)
('university', 1080)
('raspberry', 1000)
('science', 814)
('$5', 770)
('pi', 688)
('exam', 571)
('just', 544)
('intelligence', 495)
('solution', 475)
('costs', 423)
('exam:', 411)
('latest', 402)
("pi's", 366)
('be', 311)
('can', 268)
('what', 268)
('way', 257)
('students', 238)

In [11]:
freq_time = {}
for item in tweets: 
    text = item[0].lower().split(" ")
    dates = item[1]
    dates=datetime.datetime.strptime(dates, "%a %b %d %H:%M:%S +0000 %Y")
    dates = dates.strftime("%Y-%m-%d %H:%M:00")

        
    for eleman in text:
        if eleman in stop:
            pass
        else:
            if eleman not in freq_time.keys():
                freq_time[eleman] = {}
                freq_time[eleman][dates] = 1
            else:
                if dates not in freq_time[eleman].keys():
                    freq_time[eleman][dates] = 1
                else:
                    freq_time[eleman][dates] += 1
                                
# freq_time

In [12]:
co = {}
for item in tweets: 
    text = item[0].lower().split(" ")
    for e1 in text:
        if e1 in stop:
            pass
        else:
            for e2 in text:
                if e2 in stop:
                    pass
                elif e1 == e2:
                    pass
                else:
                    if e1 not in co.keys():
                        co[e1] = {}
                        if e2 not in stop:
                            co[e1][e2] = 1
                    else:
                        if e2 not in co[e1].keys():
                            co[e1][e2] = 1
                        else:
                            co[e1][e2] += 1

In [13]:
for k,v in co.items():
    if k in top_10:
        for k1,v1 in v.items():
            print(k,k1,v1)
            break

exam @awkwardcomedy: 12
student @guardian: 4
computer remember 68
science time 6
raspberry @raspberry_pi: 151
pi @raspberry_pi: 151
$5 @raspberry_pi: 151
just @thenextweb: 10
university just 19
intelligence sentinel 2